

/* --------------global-----------------  */

body {
    background-color: white;
    padding: 10px;
    margin: 10px;
	font-size: 20px;
}

section {
	display: flex;
}

article {
	flex: 1;
}

h2 {
    font-size: 40px;
    text-decoration: solid black;
    text-shadow: 2px 2px whitesmoke;
}

h1 {
    font-size: 40px;
    text-decoration: solid black;
    text-shadow: 2px 2px whitesmoke;
}


/* ----------header------------ */

.logo {
    margin: 0 auto;
    padding: 2vh 4vw 5vw 4vw;
}


/* -------------Main--------------- */

.banner>img {
    width: 10%;
}

main {
    padding-bottom: 0px;
}


/* ------------------Home----------------- */

.home {
    background-image: url(/images/rest-bg.jpeg);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    /* background-color: var(--background2); */
}

.home>h2 {
    color: white;
    text-shadow: 2px 2px gray;
}

.home>p {
    /* background-color: rgba(240, 248, 255, 0.436); */
    margin: 0px 3vw;
    font-size: 20px;
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    font-weight: bolder;
    line-height: 60px;
}


/* -----------------Menu---------------- */

.menu>p {
    font-size: 20px;
    margin-left: 2vw;
    margin-bottom: 50px;
}

tr:nth-child(even) {
    background-color: #1a17171d;
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.415);
}

tr:nth-child(1) {
    background-color: rgba(96, 225, 22, 0.327);
}

tr:hover {
    background-color: rgb(52, 222, 26);
}

table,
th,
td {
    border: 2px solid black;
}

th {
    font-size: 20px;
    padding: 20px 50px;
}

td {
    padding: 10px 30px;
}

tr:nth-child(1) {
    text-align: left;
}

table>tr:nth-child() {
    text-align: center;
}

.menu-t {
    margin: 0 auto;
}


/* -------------------About Us-------------  */

.about {
    background-color: rgba(28, 178, 191, 0.719);
    padding-bottom: 40px;
}

.about>h2 {
    padding-top: 40px;
}

.about>p {
    margin: 0px 2vw;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.about>h5 {
    font-size: 30px;
    margin-left: 2vw;
}


/* -------------footer----------------- */

footer {
	display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 0px;
    padding: 0px 0px;
}

footer div.footer-logo {
	margin: 25px 25px 25px 25px;
}

footer div{
	flex: 1;
	display: flex;
}

footer .address {
    color: green;
    font-size: 18px;
    padding-left: 2vw;
    font-weight: bold;
    line-height: 40px;
}

.cont-h {
    color: Green;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: underline solid 2px rgb(255, 255, 255);
}

/* ---------------navbar------------------ */

.navbar {
    clear: both;
    margin: 0vw 3vw;
    padding: 0.75vw 0.75vw;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-around;
}

.nav-item {
    background-color: rgb(255, 23, 7);
    width: 100vw;
    text-align: center;
    color: whitesmoke;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    font-size: 150%;
    border: 3px blue solid
}

.nav-item>a {
    color: whitesmoke;
    display: block;
    text-decoration: none;
}

.nav-item:hover {
    background-color: rgba(200, 200, 25, 0.5);
    border: 3px yellow solid;
    color: rgb(0, 0, 0);
    box-shadow: 5px 0px 20px rgb(0, 0, 0);
}

.nav-item>a:hover {
    color: rgb(0, 0, 0);
}

.nav-item:active {
    background-color: yellow;
    color: black;
    border: 3px black solid;
}
